html,
body {
  padding: 0;
  margin: 0;
  background-color: #DDEDE8;
  color: #4815AA;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main {
  min-height: 100vh - 100px;
  padding: 0;
  width: 100%;
}


@media(max-width: 600px){
  :root{
    font-size: 50%;
  }
}